/* experience section */
.experience-section {
  font-family: "Cardo", serif;
  padding: 2rem;
  display: flex;
  gap: 4rem;
  min-height: auto;
}

.experience-first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.experience-icon {
  transform: rotate(-12deg);
}

.experience-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  color: var(--color-title);
  margin: 0;
}

.experience-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8px;
}

.experience-item {
  display: flex;
  gap: 5rem;
}

.designation-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.designation-span {
  display: inline-flex;
  align-items: center;
}

.ul-wrapper {
  line-height: 30px;
  padding-left: 0;
  margin-top: 0;
}

.designation {
  font-weight: 900;
  font-size: 18px;
  margin-top: 0;
}

.timeline {
  width: 20%;
  font-weight: 900;
  font-size: 18px;
  margin: 0;
}

/* .rotate-infinite{
    animation: rotate-infinite duration timing-function delay iteration-count direction fill-mode;
} */
