/* || Projects Section */

.project-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project-section-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  color: var(--color-title);
  margin: 0;
  text-align: end;
  margin-right: 2rem;
}

.project-card {
  /* background-color: var(--color-green); */
  background-color: #c98b81a6;
  border-radius: 10px;
  /* color: #3a3a21; */
  color: #1d1b1bc7;
  min-height: 12rem;
  cursor: pointer;
  transition: transform 0.5s ease-in;
}

.project-card:hover {
  transform: translateY(-3px) translateX(-3px);
  background-color: #c98b81;
  /* color: #2e331d; */
  /* background: linear-gradient(to left, red 50%, blue 50%) right; */
}

.projects-flex-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 11rem;
}

.projects-flex-item {
  margin: 10px;
  padding: 20px;
  width: 24rem;
  flex-shrink: 0;
}

.project-card-title {
  font-size: 3rem;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  font-style: italic;
}

.project-card-desc {
  line-height: 22px;
  font-size: 16px;
  letter-spacing: 0.2px;
}

.project-stack {
  display: flex;
  justify-content: space-between;
}

.project-stack-wrapper {
  display: flex;
  gap: 1rem;
}

.project-stack-icon {
  width: 1.8rem;
}

.bento-wrapper {
  height: auto;
  width: 8rem;
}

.bento {
  min-height: 6rem;
  min-width: 6rem;
  border-radius: 10px;
  background-color: #818473;
  display: flex;
  cursor: pointer;
}

.bento-value {
  color: #efe7dd;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  font-size: 34px;
}
