/* Laptop - 1024px */
@media (max-width: 1024px) {
  .section-break {
    margin-top: 4rem;
  }
  .hero {
    /* min-height: auto; */
  }
  .hero-title {
    font-size: 5rem;
  }
  .experience-title {
    font-size: 3rem;
  }
}

/* Tablet - 768px */
@media (max-width: 768px) {
  .section-break {
    margin-top: 4rem;
  }
  .hero {
    padding: 0 1rem;
  }
  .hero-title {
    font-size: 4rem;
  }
  .name {
    font-size: 16px;
  }

  .experience-section {
    flex-direction: column;
  }
  .experience-title {
    font-size: 2rem;
  }
  .ul-wrapper {
    line-height: 28px;
  }

  /* trying before here */
  /* .company {
    position: absolute;
    right: 11rem;
  }
  .company::before {
    content: "@ ";
  } */

  .project-section {
    display: flex;
    flex-wrap: wrap;
  }
  .skills-wrapper {
    flex-wrap: wrap;
  }
  .footer-top {
    flex-wrap: wrap;
  }
}

/* Mobile - 450px - medium */
@media (max-width: 450px) {
  .section-break {
    margin-top: 4rem;
  }
  .main {
    padding: 2rem 2rem;
  }
  .hero {
    padding: 0 1rem;
    min-height: 610px;
  }
  .hero-wrapper {
    margin-top: 6rem;
  }
  .hero-title {
    font-size: 1.8rem;
  }
  .hero-image {
    bottom: 14px;
  }
  .name {
    font-size: 12px;
  }

  .experience-section {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .experience-title {
    font-size: 2rem;
  }
  .experience-icon {
    width: 10rem;
    position: absolute;
    top: 155rem;
    left: 10rem;
  }
  .experience-item {
    flex-direction: column;
    gap: 2rem;
  }
  .designation-wrapper {
    width: 100%;
    margin-bottom: 9rem;
  }
  .designation {
    margin-bottom: 1rem;
    font-size: 16px;
  }
  .timeline {
    width: 100%;
  }
  .ul-wrapper {
    line-height: 28px;
  }

  .skills-wrapper {
    flex-wrap: wrap;
  }
  .skills-title {
    font-size: 2.4rem;
  }
  .skills-title-emoji {
    width: 3rem;
  }
  .skills {
    width: 2.5rem;
  }

  .project-section {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    justify-content: center;
  }
  .project-section-title {
    font-size: 2.4rem;
    margin: 0;
  }
  .projects-flex-item {
    width: 12rem;
    margin: 10px 0;
  }
  .project-stack {
    flex-wrap: wrap;
  }

  .footer {
    margin: 2rem;
    gap: 3rem;
  }
  .handshake-icon {
    width: 40px;
    height: 40px;
  }
  .footer-content {
    gap: 1rem;
  }
  .footer-top {
    flex-wrap: wrap;
  }
  .footer-desc {
    font-size: 2rem;
    /* border: 1px solid; */
    word-break: keep-all;
    /* width: 100%; */
  }
  .footer-socials {
    justify-content: center;
    margin-bottom: 1rem;
  }
  .footer-icon {
    width: 1.8rem;
  }
  .footer-img {
    width: 15.2rem;
    height: 13rem;
  }
  .footer-p {
    gap: 0.3rem;
    letter-spacing: 0.5px;
    font-size: 12px;
  }
}

/* Mobile - 320px - smaller */
@media (max-width: 320px) {
  .section-break {
    margin-top: 4rem;
  }
  .main {
    padding: 2rem 2rem;
  }
  .hero {
    padding: 0 1rem;
    min-height: 610px;
  }
  .hero-wrapper {
    margin-top: 6rem;
  }
  .hero-title {
    font-size: 1.8rem;
  }
  .hero-image {
    bottom: 14px;
  }
  .name {
    font-size: 12px;
  }

  .experience-section {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .experience-title {
    font-size: 2rem;
  }
  .experience-icon {
    width: 10rem;
    position: absolute;
    top: 155rem;
    left: 10rem;
  }
  .experience-item {
    flex-direction: column;
    gap: 2rem;
  }
  .designation-wrapper {
    width: 100%;
    margin-bottom: 9rem;
  }
  .designation {
    margin-bottom: 1rem;
    font-size: 16px;
  }
  .timeline {
    width: 100%;
  }
  .ul-wrapper {
    line-height: 28px;
  }

  .skills-wrapper {
    flex-wrap: wrap;
  }
  .skills-title {
    font-size: 2.4rem;
  }
  .skills-title-emoji {
    width: 3rem;
  }
  .skills {
    width: 2.5rem;
  }

  .project-section {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    justify-content: center;
    border: none;
  }
  .project-section-title {
    font-size: 2.4rem;
    margin: 0;
  }
  .projects-flex-item {
    width: 12rem;
    margin: 10px 0;
  }
  .project-stack {
    flex-wrap: wrap;
  }

  .footer {
    margin: 2rem;
    gap: 3rem;
  }
  .handshake-icon {
    width: 40px;
    height: 40px;
  }
  .footer-content {
    gap: 1rem;
  }
  .footer-top {
    flex-wrap: wrap;
  }
  .footer-desc {
    font-size: 2rem;
    /* border: 1px solid; */
    word-break: keep-all;
    /* width: 100%; */
  }
  .footer-socials {
    justify-content: center;
    margin-bottom: 1rem;
  }
  .footer-icon {
    width: 1.8rem;
  }
  .footer-img {
    width: 15.2rem;
    height: 13rem;
  }
  .footer-p {
    gap: 0.3rem;
    letter-spacing: 0.5px;
    font-size: 12px;
  }
}
