/* Laptop - 1024px */
@media (max-width: 1024px) {
  .section-break {
    margin-top: 4rem;
  }
  .hero-title {
    font-size: 5rem;
  }
  .experience-title {
    font-size: 3rem;
  }
}

/* Tablet - 768px */
@media (max-width: 768px) {
  .section-break {
    margin-top: 4rem;
  }
  .hero {
    padding: 0 1rem;
  }
  .hero-title {
    font-size: 4rem;
  }
  .name {
    font-size: 16px;
  }

  .experience-section {
    flex-direction: column;
  }
  .experience-title {
    font-size: 2rem;
  }
  .ul-wrapper {
    line-height: 28px;
  }

  .project-section {
    display: flex;
    flex-wrap: wrap;
  }
  .skills-wrapper {
    flex-wrap: wrap;
  }
  .footer-top {
    flex-wrap: wrap;
  }
}

/* Mobile - 450px - medium */
@media (max-width: 450px) {
  .section-break {
    margin-top: 4rem;
  }
  .main {
    padding: 2rem 2rem;
  }
  .hero {
    padding: 0 1rem;
    min-height: 610px;
  }
  .hero-wrapper {
    margin-top: 6rem;
  }
  .hero-title {
    font-size: 2.8rem;
  }
  .hero-image {
    bottom: 22px;
  }
  .name {
    font-size: 12px;
  }

  .experience-section {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .experience-title {
    font-size: 2rem;
  }
  .experience-icon {
    width: 10rem;
    position: absolute;
    top: 141rem;
    left: 15rem;
  }
  .experience-item {
    flex-direction: column;
    gap: 2rem;
  }
  .designation-wrapper {
    width: 100%;
    margin-bottom: 9rem;
  }
  .designation {
    margin-bottom: 1rem;
    font-size: 16px;
  }
  .timeline {
    width: 100%;
  }
  .ul-wrapper {
    line-height: 28px;
  }

  .skills-wrapper {
    flex-wrap: wrap;
  }
  .skills-title {
    font-size: 2rem;
  }
  .skills-title-emoji {
    width: 2.5rem;
  }
  .skills {
    width: 2.5rem;
  }

  .project-section {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    justify-content: center;
  }
  .project-section-title {
    font-size: 2rem;
    margin: 0;
  }
  .project-card-title {
    font-size: 1.3rem;
  }
  .project-card-desc {
    -webkit-line-clamp: 3;
  }
  .projects-flex-item {
    width: 17rem;
    margin: 10px 0;
  }
  .project-stack {
    flex-wrap: wrap;
    margin-top: 0;
  }
  .btn {
    padding: 0.3rem 0.4rem;
  }

  .footer {
    margin: 2rem;
    gap: 3rem;
    padding: 2rem 2rem 1rem 2rem;
  }
  .handshake-icon {
    width: 1.6rem;
    height: 1.6rem;
  }
  .footer-content {
    gap: 1rem;
  }
  .footer-top {
    flex-wrap: wrap;
  }
  .footer-desc {
    font-size: 1.8rem;
  }
  .footer-desc-span {
    font-size: 1.8rem;
  }
  .footer-socials {
    justify-content: center;
    position: relative;
    top: 14.5rem;
    left: 5rem;
    margin: -10px;
  }
  .footer-icon {
    width: 1.8rem;
  }
  .footer-img {
    width: 19rem;
    height: 12rem;
  }
  .footer-p {
    gap: 0.3rem;
    letter-spacing: 0.5px;
    font-size: 12px;
  }
  .footer-mention {
    margin-top: 2rem;
  }
}

/* Mobile - 320px - smaller */
@media (max-width: 320px) {
  .section-break {
    margin-top: 4rem;
  }
  .main {
    padding: 2rem 2rem;
  }
  .hero {
    padding: 0 1rem;
    min-height: 610px;
  }
  .hero-wrapper {
    margin-top: 6rem;
  }
  .hero-title {
    font-size: 1.8rem;
  }
  .hero-image {
    bottom: 14px;
  }
  .name {
    font-size: 12px;
  }

  .experience-section {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .experience-title {
    font-size: 2rem;
  }
  .experience-icon {
    width: 10rem;
    position: absolute;
    top: 177rem;
    left: 7rem;
  }
  .experience-item {
    flex-direction: column;
    gap: 2rem;
  }
  .designation-wrapper {
    width: 100%;
    margin-bottom: 9rem;
  }
  .designation {
    margin-bottom: 1rem;
    font-size: 16px;
  }
  .timeline {
    width: 100%;
  }
  .ul-wrapper {
    line-height: 28px;
  }

  .skills-wrapper {
    flex-wrap: wrap;
  }
  .skills-title {
    font-size: 2rem;
  }
  .skills-title-emoji {
    width: 2.5rem;
  }
  .skills {
    width: 2.5rem;
  }

  .project-section {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    justify-content: center;
    border: none;
  }
  .project-section-title {
    font-size: 2rem;
    margin: 0;
  }
  .project-card-title {
    font-size: 1.2rem;
    letter-spacing: 0.5px;
  }
  .project-stack {
    margin-top: 0;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .project-card-desc {
    -webkit-line-clamp: 3;
  }
  .projects-flex-item {
    width: 12rem;
    margin: 10px 0;
  }
  .btn {
    padding: 0.3rem 0.5rem;
  }

  .footer {
    margin: 2rem;
    gap: 3rem;
    padding: 2rem 2rem 1rem 2rem;
  }
  .handshake-icon {
    width: 1.6rem;
    height: 1.6rem;
  }
  .footer-content {
    gap: 1rem;
  }
  .footer-top {
    flex-wrap: wrap;
  }
  .footer-desc {
    font-size: 1.5rem;
  }
  .footer-desc-span {
    font-size: 1.5rem;
  }
  .footer-socials {
    justify-content: center;
    position: relative;
    top: 12.5rem;
    left: 1rem;
    margin: -17px;
  }
  .footer-icon {
    width: 1.8rem;
  }
  .footer-img {
    width: 12.2rem;
    height: 10rem;
  }
  .footer-p {
    gap: 0.3rem;
    letter-spacing: 0.5px;
    font-size: 12px;
  }
  .footer-mention {
    margin-top: 2rem;
  }
}
