@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"); */

:root {
  --color-title: #000000c7;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #efe7dd;
}

.main {
  padding: 2rem 4rem;
  box-sizing: border-box;
}

section {
  min-height: 760px;
  border: 1px solid;
}

/* fonts */
.cardo-regular {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: normal;
}

.cardo-bold {
  font-family: "Cardo", serif;
  font-weight: 700;
  font-style: normal;
}

.cardo-regular-italic {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: italic;
}

/* utility classes */
.section-break {
  margin-top: 6rem;
}

/* app */
.hero {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.name {
  font-family: "Cardo", serif;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.8px;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  text-align: center;
  margin-top: 9rem;
  align-items: center;
}

.hero-title {
  font-size: 6rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 200;
  color: #000000c7;
}

.hero-image {
  display: flex;
  border-radius: 10px;
  z-index: -1;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
  position: relative;
  height: auto;
  width: 12rem;
  display: flex;
  bottom: 42px;
}

.projects-section {
  min-height: 800px;
}

.projects-wrapper {
  display: flex;
  gap: 1rem;
}

.bento-wrapper {
  height: auto;
  width: 8rem;
}

.bento {
  min-height: 6rem;
  min-width: 6rem;
  border-radius: 10px;
  background-color: #818473;
  display: flex;
  cursor: pointer;
}

.bento-value {
  color: #efe7dd;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  font-size: 34px;
}

.bento-title {
}

/* experience section */
.experience-section {
  font-family: "Cardo", serif;
  padding: 2rem;
  display: flex;
  gap: 4rem;
}

.experience-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  color: var(--color-title);
  margin-top: 4rem;
}

.experience-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experience-item {
  display: flex;
  gap: 5rem;
}

.designation-wrapper {
}

.ul-wrapper {
  line-height: 26px;
}

.designation {
  font-weight: 900;
  font-size: 18px;
  margin-top: 0;
}

.timeline {
  width: 40%;
  font-weight: 900;
  font-size: 18px;
  margin: 0;
}

/* skills section */
.skills-section {
  padding: 2rem;
  font-family: "Cardo", serif;
  display: flex;
}

.skills-wrapper {
  margin-top: 4rem;
}

.skills-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  color: var(--color-title);
  margin-top: 4rem;
}
