@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-title: #000000c7;
  --color-gray: #c4cad3;
  --color-green: #818473;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #efe7dd;
}

.main {
  padding: 2rem 4rem;
  box-sizing: border-box;
}

section {
  min-height: 760px;
  border: 1px solid;
  padding: 2rem;
}

/* fonts */
.cardo-regular {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: normal;
}

.cardo-bold {
  font-family: "Cardo", serif;
  font-weight: 700;
  font-style: normal;
}

.cardo-regular-italic {
  font-family: "Cardo", serif;
  font-weight: 400;
  font-style: italic;
}

.montserrat {
  font-family: "Montserrat", serif;
}
.poppins {
  font-family: "Poppins", serif;
}

/* utility classes */
.section-break {
  margin-top: 6rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.m-0 {
  margin: 0;
}

.mb-5 {
  margin-bottom: 5rem;
}

/* animations */
.parrots {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  /* additional */
  align-items: flex-end;
  flex-grow: 1;
}

/* app */
.hero {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.name {
  font-family: "Cardo", serif;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.8px;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  text-align: center;
  margin-top: 9rem;
  align-items: center;
}

.hero-title {
  font-size: 6rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 200;
  color: #000000c7;
}

.hero-image {
  display: flex;
  border-radius: 10px;
  z-index: -1;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
  position: relative;
  height: auto;
  width: 12rem;
  display: flex;
  bottom: 42px;
}

/* projects-section */
.project-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.project-section-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  color: var(--color-title);
  margin: 0;
  text-align: end;
  margin-right: 2rem;
}

.project-wrapper {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}

.project-card {
  background-color: var(--color-green);
  border-radius: 10px;
  color: #3a3a21;
  padding: 1rem;
  width: 20rem;
}

.project-card-title {
  font-size: 3rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.project-card-desc {
  line-height: 22px;
  font-size: 16px;
}

.project-image-scroller {
  overflow: auto;
  display: flex;
  white-space: nowrap;
}

.project-image-scroller p {
  width: 7rem;
}

/* .project-card-image {
  width: 7rem;
} */

.bento-wrapper {
  height: auto;
  width: 8rem;
}

.bento {
  min-height: 6rem;
  min-width: 6rem;
  border-radius: 10px;
  background-color: #818473;
  display: flex;
  cursor: pointer;
}

.bento-value {
  color: #efe7dd;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  font-size: 34px;
}

.bento-title {
}

/* experience section */
.experience-section {
  font-family: "Cardo", serif;
  padding: 2rem;
  display: flex;
  gap: 4rem;
  min-height: auto;
}

.experience-first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.experience-icon {
  transform: rotate(-12deg);
}

.experience-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  color: var(--color-title);
  margin: 0;
}

.experience-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8px;
}

.experience-item {
  display: flex;
  gap: 5rem;
  /* border: 1px solid red; */
}

.designation-wrapper {
  display: flex;
  flex-direction: column;
}

.designation-span {
  display: inline-flex;
  align-items: center;
}

.ul-wrapper {
  line-height: 26px;
  /* border: 1px solid green; */
}

.designation {
  font-weight: 900;
  font-size: 18px;
  margin-top: 0;
}

.timeline {
  /* width: 40%; */
  width: 20rem;
  font-weight: 900;
  font-size: 18px;
  margin: 0;
}

/* skills section */
.skills-section {
  padding: 2rem;
  font-family: "Cardo", serif;
  display: flex;
  flex-direction: column;
  min-height: auto;
}

.skills-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.skills-title {
  font-size: 3.4rem;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  color: var(--color-title);
}

.skills-title-emoji {
  height: auto;
  width: 4rem;
}

.skills-intro {
  text-align: center;
  margin: 5rem;
  font-weight: 700;
}

.skills-dimensions {
  height: auto;
  width: 5rem;
}

/* footer section */
.footer {
  min-height: 400px;
  margin: 2rem 4rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-name {
  font-family: "Montserrat", serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 200;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-desc {
  text-transform: uppercase;
  font-size: 4rem;
  width: 55%;
  font-weight: 300;
  font-family: "Montserrat";
  margin: 0;
}

.footer-socials {
  display: flex;
  gap: 1rem;
}

.footer-socials a {
  font-style: italic;
}

.footer-mention {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
}

.footer-p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  letter-spacing: 2.5px;
  font-family: "Montserrat", serif;
  /* color: #9399a2; */
}

.footer-a {
  color: black;
}
